html {

   /*Major*/
   /*Primary colors*/

  --primary: #fcd34d;
  --secondary: #fbbf24;
  --tertiary: #991b1b;
  --quaternary: #facc15;

  /*Grays*/
  /*Secondary colors*/

    --grays-primary: #d1d5db;
    --grays-secondary: #9ca3af;
    --grays-tertiary: #4b5563;
    --grays-quaternary: #374151;

    /*Primary*/
    /*Tertiary colors*/

    --primary-one: #0891b2;
    --primary-two:#0e7490;
    --primary-three:#7dd3fc;
    --primary-four:#38bdf8;

    /*Accent*/
    /*Quaternary colors*/

    --accent-primary: #075985;
    --accent-secondary: #0c4a6e;
    --accent-tertiary: #1e40af;
    --accent-quaternary: #1e3a8a;

    --link: var(--accent-primary);
    --link-hover: var(--primary-three);

}
