html {

	 /*Major*/
	 /*Primary colors*/

	--primary: #020659;
	--secondary: #4B61A6;
	--tertiary: #F2E3B3;
	--quaternary: #D94848;

	/*Grays*/
	/*Secondary colors*/

  	--grays-primary: #d3d5fe;
  	--grays-secondary: #a1a5fd;
  	--grays-tertiary: #2d36fa;
  	--grays-quaternary: #010438;

  	/*Primary*/
  	/*Tertiary colors*/

  	--primary-one: #effb3e;
  	--primary-two:#590202;
  	--primary-three:#ac0404;
  	--primary-four:#010438;

  	/*Accent*/
  	/*Quaternary colors*/

  	--accent-primary: #C8A122;
  	--accent-secondary: #d32c2c;
  	--accent-tertiary: #9b2020;
  	--accent-quaternary: #2a0909;

    --link: var(--accent-primary);
    --link-hover: var(--primary-three);

}