html {

	 /*Major*/
	 /*Primary colors*/

	--primary: #4338ca;
	--secondary: #991b1b;
	--tertiary: #dc2626;
	--quaternary: #fbbf24;

	/*Grays*/
	/*Secondary colors*/

  	--grays-primary: #fff7ed;
  	--grays-secondary: #ffedd5;
  	--grays-tertiary: #fed7aa;
  	--grays-quaternary: #fdba74;

  	/*Primary*/
  	/*Tertiary colors*/

  	--primary-one: #fb923c;
  	--primary-two:#f97316;
  	--primary-three:#ea580c;
  	--primary-four:#c2410c;

  	/*Accent*/
  	/*Quaternary colors*/

  	--accent-primary: #9a3412;
  	--accent-secondary: #7c2d12;
  	--accent-tertiary: #92400e;
  	--accent-quaternary: #78350f;

    --link: var(--accent-primary);
    --link-hover: var(--primary-three);

}