html {

  /*Font families*/
  --font-1: 'Patua One', cursive;
  --font-2: 'Lora', serif;
  --font-3: 'Arimo', sans-serif; 

  /* Escala aplicada */
  --text-caption: 14px;
  --text-note: 16px;
  --text-base: 20px;
  --text-subheader: 24px;
  --text-title: 48px;
  --text-headline: 50px;/*72px*/
  --text-display: 96px;
  --text-jumbo: 144px;

}
  @media screen and (max-width: 600px) {
    html {

          /* Variables tipográficas */
      --text-caption: 12px;
      --text-note: 14px;
      --text-base: 16px;
      --text-subheader: 20px;
      --text-title: 24px;
      --text-headline: 23px;/*36px*/
      --text-display: 48px;
      --text-jumbo: 60px;
      
        }
      }

