.home-slide {
	min-height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.home-slide img {
	display: block;
	width: 100%;
	height: 55.6rem;
	object-fit: cover;

}

.home-title {
  color: var(--accent-tertiary);
	font-size: 10vw;
	position: sticky;
	top: 80px;
	opacity: var(--home-title-opacity);
}

.surname {
  position: absolute;
  top: 315px;
  color: var(--secondary);
}

h3.font-2.home-title.profession {
    font-size: var(--text-title);
    color: var(--tertiary);
    position: absolute;
    top: 490px;
}
.home-subheader {
	text-decoration: none;
	color: inherit;
	position: absolute;
	bottom: auto;
	right: auto;
	font-size: var(--text-jumbo);
	mix-blend-mode: hard-light;
	transition: 0.3s all;

}

.home-subheader:hover {
	opacity: 0.8;
} 

.home-subheader-alt {
	color: var(--tertiary);

}

@media (max-width: 500px) {
  .home-subheader {
    right: 20px;
    bottom: 0;
    font-size: var(--text-display);
  }
}
