.ilustration-text {
	padding-top: 20vh;
	height: min-content;
	position: sticky;
	top: 0;
  color:var(--grays-quaternary);
}
p.font-4 {
  color:var(--accent-primary);
}

.ilustration-text .text-headline {
  line-height: 1;
  margin-bottom: var(--spacer-m);
}

@media (max-width: 900px) {
	.ilustration-text {
	position: unset;
	}
}

@media (max-width: 700px) {
	.ilustration-text {
	padding-top: var(--spacer-xl);
	}
	.ilustration-text .text-headline {
	margin-bottom: var(--spacer-s);
	}
}

@media (max-width: 500px) {
	.ilustration-text {
		margin-top: 0;
		order: -1;
	}
  .ilustraction-text .text-headline {
    line-height: 1.5;
  }
}

