.photo-hero img {
	width: 100%
}

.photo-title {
	grid-column: span 5;
	margin-top: var(--spacer-2xl);
	margin-bottom: var(--spacer-2xl);
    text-align: center;
}

.photo-text {
	grid-column: span 7;
	margin-top: var(--spacer-2xl);
	margin-bottom: var(--spacer-2xl);
}

.photo-text p:last-child {
	margin-bottom: 0;
}

.photo-content .project {
	margin-bottom: var(--spacer-xl);
}

.photo-content .full-width {
	grid-column:  1 / -1;
}

.photo-content .left {
	grid-column: span 6;
}

.photo-content .right {
	grid-column: span 6;
	grid-column-end: -1;  
}