  <div class="footer">
    <div class="container grid">
      <div class="col-12">
       &copy; Martina Vazquez
       <a href="#">Legal warning </a>
       <a href="/contact/">Contacts</a>
      </div>
    </div>
  </div>

  <script src="/assets/scripts/nav.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
  <script src="/assets/scripts/basicScroll.min.js"></script>
  <script src="/assets/scripts/basicScrollStart.js"></script>
  </body>
</html>