.footer {
	font-size: var(--text-note);
	padding-bottom: var(--spacer-m);
	padding-top: var(--spacer-m);
	text-align: center;
}

.footer a {
	color: var(--accent-tertiary);
	margin-left: 20px;
	text-decoration: none;
  font-family:var(--font-3);
}

.footer a:hover {
	color: var(--link-hover);
}
