.header {
	left: 0;
	padding-bottom: var(--spacer-m);
	padding-top: var(--spacer-m);
	position: fixed;
	right: 0;
	top: 0;
	z-index: var(--z-index-header);
}

.header .container {
	display: flex;
}

.header img {
	display: block;
}

img.header-logo-light {
	display: none;
}

.nav-active img.header-logo-light {
	display: block;
}

.nav-active img.header-logo {
	display: none;
}

.header-logo {
	position: relative;
	width: 60px;
	z-index: var(--z-index-logo);
}

.header-nav-icon {
	background-color: transparent;
	border: 0;
	margin-left: auto;
	padding: 0;
	position: relative;
	z-index: var(--z-index-navicon);
}

.hamburger:hover {
  opacity: 1;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: var(--accent-tertiary); 
  height: 5px;
  right: 0;
  width: 40px;
}

/*.hamburger-inner {
  width: 30px;
}

.hamburger-inner::after {
  width: 20px;
}*/

/*.hamburger-inner, 
.hamburger-inner::before, 
.hamburger-inner::after {
	background-color: var(--accent-secondary);
}*/

/*.hamburger--elastic-r.is-active .hamburger-inner::after*/
.hamburger--elastic-r.is-active .hamburger-inner, 
.hamburger--elastic-r.is-active .hamburger-inner::before, 
.hamburger--elastic-r.is-active .hamburger-inner::after {
	background-color: var(--secondary);
}

@media (max-width: 700px) {
	.header-logo {
	width: 70px;
	}
}
