---
layout: layouts/base.njk
title: About
eleventyNavigation:
  key: about
  title: About
  order: 4
---
<div class="col-5 col-md-4 col-sm-3 col-xs-6 about-title">
<h1 class= "font-1 text-headline">about</h1>	
</div>

<div class="col-6 about-content">
<img class="about-photo" src="/assets/images/about.jpg" alt="Martina Vazquez">
		<p>
			"At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos ...”
		</p>
</div>
