---
layout: layouts/base.njk
title: Contact
eleventyNavigation:
  key: contact
  title: Contact
  order: 5
---

<div class="col-5 col-md-4 col-sm-3 col-xs-6 contact-title">
  <h1 class="font-2 text-headline">Contact</h1>
 </div>
<form data-netlify="true" name="contact" class="col-7 col-md-6 col-sm-5 col-xs-6 contact-form">
	Hi!<br>
	<label for="name">I'm</label>
	<input name="name" id="name" type="text" placeholder="your name"> 
	i will your help for
	<label for="project">my project</label>
	<select id="project">
		<option value="ilustration">Ilustration</option>
		<option value="photography">Photography</option>
		<option value="other">other</option>	
	</select>
	this is my email
	<input id="email" type="email" placeholder="your email address">
	Thanks<br>
	<button type="submit" class="contact-submit">submit</button>
</form>
