---
layout: layouts/full.njk
title: Inicio
---
{#<div class="home-slide">
	<h1 class="font-1 home-title">Martina es...</h1>
</div>

<div class="home-slide container grid home-content">
	<img src="/assets/images/home-2.jpg" alt="">
	<a href="/photo/" class="font-3 home-subheader">Photograph</a>
</div>

<div class="home-slide container grid home-content">
	<img src="/assets/images/home-1.jpg" alt="">
	<a href="/ilustration/" class="font-3 home-subheader">Illustrator</a>
</div>

<div class="home-slide container grid home-content">
	<img src="/assets/images/home-3.jpg" alt="">
	<a href="/contact/" class="font-3 home-subheader">Freelancer</a>
</div> #}
<div class="container grid home-content">
{% for element in home %}
    {% include 'components/project.njk' %}
  {% endfor %}
</div>
