.project img {
	display: block;
	width: 100%;
}

.project-ilu {
	display: block;
	overflow: hidden;
	position: relative;
}

.project-ilu-overlay {
	align-items: center;
	background-color: rgba(45, 49, 67, 0.6);
	bottom: 0;
	color: var(--primary-one);
	display: flex;
	font-size: var(--text-subheader);
	justify-content: center;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: opacity 0.3s;
  /* padding: 20px; */
  padding: 20px 0 20px 0;
}

.project-ilu:hover .project-ilu-overlay {
	opacity: 1;
}

.project-ilu img {
	transition: transform 0.3s;
}

.projec-ilu:hover img {
	transform: scale(1.05);
}
